# Setup venv in a directory
function venv(){
    cd "$1"
    python -m venv venv
    source ./venv/bin/activate && pip install -U pip
    [ -f requirements.txt ] && pip install -r requirements.txt
}

# show hidden files in finder
function show_hidden(){
  defaults write com.apple.finder AppleShowAllFiles -bool true
}

# hide hidden 
function hide_hidden(){
  defaults write com.apple.finder AppleShowAllFiles -bool false
}

# Setup z
source $HOME/z/z.sh
